.Rproj.user
.Rproj.user/
.Rhistory
.RData
.Ruserdata
/gp-gb_NCBI_downloads
/SLC17A5-A7_18A2-A3
/SLC17A9_65_subset
/SLC17A9_295
/SLC17A9_select-spp_nucleotide-CDS
/SLC17familyNucleotide
/VNUT_847seqs_peptide
